---
- name: Upgrade packages
  ansible.builtin.apt:
    upgrade: full

- name: Install packages
  ansible.builtin.apt:
    pkg: "{{packages_to_install}}"
    state: present
    update_cache: yes
    allow_unauthenticated: yes

- name: Install packages (if is_vagrant)
  ansible.builtin.apt:
    pkg: 
      - linux-headers-5.15.0-107-generic
      - build-essential
      - dkms
    state: present
    update_cache: yes
    allow_unauthenticated: yes
  when: is_vagrant == true

- name : Install Virtualbox Guest Addition (If is_vagrant)
  ansible.builtin.shell:
    cmd: |
      wget https://download.virtualbox.org/virtualbox/7.0.0_BETA3/VBoxGuestAdditions_7.0.0_BETA3.iso
      sudo mkdir /media/VBoxGuestAdditions
      sudo mount -o loop,ro VBoxGuestAdditions_7.0.0_BETA3.iso /media/VBoxGuestAdditions
      sudo sh /media/VBoxGuestAdditions/VBoxLinuxAdditions.run
      rm VBoxGuestAdditions_7.0.0_BETA3.iso
      sudo umount /media/VBoxGuestAdditions
      sudo rmdir /media/VBoxGuestAdditions
    chdir: /
  become: true
  when: is_vagrant == true

- name: Enable compress on logrotate
  lineinfile:
    dest: /etc/logrotate.conf
    regexp: "^#?compress"
    line: "compress"
    state: present

- name: Configure timezone
  community.general.timezone:
    name: "{{timezone}}"

- name: Configure ntp client and restart it
  template:
    src: ntp.conf.j2
    dest: /etc/ntp.conf
  notify:
    - restart ntp
    - restart cron

# - name: Make fail2ban work with ufw
#   lineinfile:
#     dest: "{{item}}"
#     regexp: "^banaction"
#     line: "banaction = ufw"
#     state: present
#   with_items:
#     - /etc/fail2ban/jail.conf
#     - /etc/fail2ban/jail.local
#   notify:
#     - restart fail2ban
