services:
  crowdsec:
    container_name: crowdsec
    image: {{ crowdsec_crowdsec_docker_image }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    ports:
    - 127.0.0.1:8080:8080 # Server endpoint
    - 127.0.0.1:6060:6060 # Prometheus endpoint
    environment:
      TZ: {{ timezone }}
      COLLECTIONS: "crowdsecurity/sshd crowdsecurity/traefik"
      GID: {{ ansible_facts.getent_passwd[default_username].2 }}
    volumes:
      - /mnt/docker/volumes/crowdsec/data:/var/lib/crowdsec/data/
      - /mnt/docker/volumes/crowdsec/config:/etc/crowdsec
      - /mnt/docker/crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml
      - /var/log/auth.log:/var/log/auth.log:ro
      - /var/log/syslog:/var/log/syslog:ro
      - /var/log/docker:/var/log/docker:ro
    networks:
      - crowdsec
      - diun-watch
    labels:
      # Diun
      - diun.enable=true

networks:
  diun-watch:
    external: true
  crowdsec:
    external: true