---
- name: Create main directory
  ansible.builtin.file:
    path: /mnt/docker/crowdsec
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"

- name: Create volumes directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"
  loop:
    - /mnt/docker/volumes/crowdsec/data

- name: Get default user info
  ansible.builtin.getent:
    database: passwd
    key: "{{ default_username }}"
  when: ansible_facts.getent_passwd is undefined

- name: Ensure config files exist
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/mnt/docker/crowdsec/{{ item }}"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0644"
  loop:
    - compose.yml
    - acquis.yml

- name: Run "docker compose up"
  community.docker.docker_compose_v2:
    project_src: /mnt/docker/crowdsec
    recreate: always
    wait: true

- name: Configure crowdsec
  when: traefik_bouncer_key is undefined
  block:
    - name: Register CAPI
      community.docker.docker_container_exec:
        container: crowdsec
        command: cscli capi register

    - name: Restart crowdsec
      community.docker.docker_compose_v2:
        project_src: /mnt/docker/crowdsec
        state: restarted
        wait: true

    - name: Enroll crowdsec
      community.docker.docker_container_exec:
        container: crowdsec
        command: "cscli console enroll {{ crowdsec_enroll_key }}.j2"

    - name: Pause
      ansible.builtin.pause:
        prompt: "Please, accept the enrollment at https://app.crowdsec.net"

    - name: Restart crowdsec
      community.docker.docker_compose_v2:
        project_src: /mnt/docker/crowdsec
        state: restarted
        wait: true

    - name: Add traefik-bouncer
      community.docker.docker_container_exec:
        container: crowdsec
        command: cscli bouncers add traefik-bouncer
      register: result

    - name: Set fact traefik_bouncer_key
      ansible.builtin.set_fact:
        traefik_bouncer_key: "{{ result.stdout_lines[2] | trim }}"

