---
- name: Create directory for Crowdsec's GPG key
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

- name: Add Crowdsec's official GPG key
  ansible.builtin.apt_key:
    url: https://packagecloud.io/crowdsec/crowdsec/gpgkey
    keyring: /etc/apt/keyrings/crowdsec_crowdsec-archive-keyring.gpg
    state: present

- name: Add Crowdsec repository
  ansible.builtin.apt_repository:
    repo: >-
      deb [signed-by=/etc/apt/keyrings/crowdsec_crowdsec-archive-keyring.gpg] https://packagecloud.io/crowdsec/crowdsec/ubuntu {{ ubuntu_version }} main
      deb-src [signed-by=/etc/apt/keyrings/crowdsec_crowdsec-archive-keyring.gpg] https://packagecloud.io/crowdsec/crowdsec/ubuntu {{ ubuntu_version }} main
    filename: crowdsec_crowdsec
    state: present

- name: Install packages
  ansible.builtin.apt:
    pkg:
      - iptables
      - crowdsec-firewall-bouncer-iptables
    state: present
  become: true

- name: Enable ip forwarding
  ansible.builtin.lineinfile:
    path: /etc/sysctl.conf
    regexp: '^#net.ipv4.ip_forward'
    line: "net.ipv4.ip_forward=1"


- name: Create main directory
  ansible.builtin.file:
    path: /mnt/docker/crowdsec
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"

- name: Create volumes directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"
  loop:
    - /mnt/docker/volumes/crowdsec/data
    - /mnt/docker/volumes/crowdsec/config

- name: Get default user info
  ansible.builtin.getent:
    database: passwd
    key: "{{ default_username }}"
  when: ansible_facts.getent_passwd is undefined

- name: Ensure config files exist
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/mnt/docker/crowdsec/{{ item }}"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0644"
  loop:
    - compose.yml
    - acquis.yaml

- name: Run "docker compose up"
  community.docker.docker_compose_v2:
    project_src: /mnt/docker/crowdsec
    recreate: always
    wait: true


- name: Configure Crowdsec
  when: not crowdsec_enrolled
  block:
  - name: Register to CAPI
    community.docker.docker_container_exec:
      container: crowdsec
      command: cscli capi register

  - name: Restart crowdsec
    community.docker.docker_compose_v2:
      project_src: /mnt/docker/crowdsec
      state: restarted
      wait: true

  - name: Enroll crowdsec
    community.docker.docker_container_exec:
      container: crowdsec
      command: "cscli console enroll {{ crowdsec_enroll_key }}"

  - name: Wait for user interaction
    ansible.builtin.pause:
      prompt: "Please, accept the enrollment at https://app.crowdsec.net, then change \"crowdsec_enrolled\" to true. Press enter to continue."

  - name: Restart crowdsec
    community.docker.docker_compose_v2:
      project_src: /mnt/docker/crowdsec
      state: restarted
      wait: true


- name: Configure Traefik Bouncer
  when: not crowdsec_traefik_bouncer_key
  block:
    - name: Add traefik-bouncer
      community.docker.docker_container_exec:
        container: crowdsec
        command: cscli bouncers add traefik-bouncer
      register: result

    - name: Save traefik-bouncer key
      ansible.builtin.pause:
        prompt: "Please, save {{ result.stdout_lines[2] | trim }}. Then press enter to continue"

    - name: Set fact crowdsec_traefik_bouncer_key
      ansible.builtin.set_fact:
        crowdsec_traefik_bouncer_key: "{{ result.stdout_lines[2] | trim }}"


- name: Configure Iptables Bouncer
  when: not crowdsec_iptable_bouncer_key
  block:
    - name: Add iptables-bouncer
      community.docker.docker_container_exec:
        container: crowdsec
        command: cscli bouncers add iptables-bouncer
      register: result

    - name: Save iptables-bouncer key
      ansible.builtin.pause:
        prompt: "Please, save {{ result.stdout_lines[2] | trim }}. Then press enter to continue"

    - name: Ensure api_url is set
      ansible.builtin.lineinfile:
        path: /etc/crowdsec/bouncers/crowdsec-firewall-bouncer.yaml
        regexp: '^api_url:'
        line: "api_url: http://127.0.0.1:8080/"

    - name: Ensure api_key is set
      ansible.builtin.lineinfile:
        path: /etc/crowdsec/bouncers/crowdsec-firewall-bouncer.yaml
        regexp: '^api_key:'
        line: "api_key: {{ result.stdout_lines[2] | trim }}"

    - name: Start crowdsec firewall bouncer
      ansible.builtin.service:
        name: crowdsec-firewall-bouncer
        state: started
        enabled: true
      become: true

- name: Restart crowdsec
  community.docker.docker_compose_v2:
    project_src: /mnt/docker/crowdsec
    state: restarted
    wait: true