version: "3.8"

services:
  freshrss:
    image: lscr.io/linuxserver/freshrss:latest
    container_name: freshrss
    hostname: freshrss
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - /mnt/docker-volumes/freshrss:/config
    restart: unless-stopped
    networks:
      - nginx_proxy_manager_network

networks:
  nginx_proxy_manager_network:
    external: true