services:
  linkwarden:
    image: ghcr.io/linkwarden/linkwarden:v2.13.1
    container_name: linkwarden
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    depends_on:
      - postgres
      - meilisearch
    environment: &env
      TZ: {{ timezone }}
      DATABASE_URL: postgresql://postgres:{{ linkwarden_postgres_password }}@postgres:5432/postgres
      NEXTAUTH_URL: http://linkwarden:3000/api/v1/auth
      NEXTAUTH_SECRET: {{ linkwarden_nextauth_secret }}
      MEILI_MASTER_KEY: {{ linkwarden_meili_master_key }}
      POSTGRES_PASSWORD: {{ linkwarden_postgres_password }}
    volumes:
      - /mnt/docker/volumes/linkwarden/linkwarden:/data/data
    networks:
      - linkwarden
      - cloudflared
      - diun
    labels:
      - traefik.enable=true
      - traefik.http.routers.linkwarden.rule=Host(`{{ linkwarden_fqdn }}`)
      - traefik.http.routers.linkwarden.service=linkwarden
      - traefik.http.routers.linkwarden.entrypoints=websecure
      - traefik.http.routers.linkwarden.tls=true
      - traefik.http.routers.linkwarden.tls.certresolver=cloudflareResolver
      - traefik.http.services.linkwarden.loadbalancer.server.port=3000
      - diun.enable=true

  postgres:
    image: postgres:16-alpine
    container_name: linkwarden-postgres
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment: *env
    volumes:
      - /mnt/docker/volumes/linkwarden/postgres:/var/lib/postgresql/data
    networks:
      - linkwarden

  meilisearch:
    image: getmeili/meilisearch:v1.12.8
    container_name: linkwarden-meilisearch
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment: *env
    volumes:
      - /mnt/docker/volumes/linkwarden/meilisearch:/meili_data
    networks:
      - linkwarden

networks:
  cloudflared:
    external: true
  diun:
    external: true
  linkwarden:
    external: true