[Unit]
Description=Portainer container
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker compose -f /mnt/docker/portainer/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /mnt/docker/portainer/docker-compose.yml stop
SyslogIdentifier=portainer

[Install]
WantedBy=multi-user.target