---
- name: Create main directory
  ansible.builtin.file:
    path: /mnt/docker/diun
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"

- name: Create directories
  ansible.builtin.file:
    path: /mnt/docker/diun/{{ item }}
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"
  loop:
    - data

- name: Ensure config files exist
  ansible.builtin.template:
    src: "compose/{{ item }}.j2"
    dest: "/mnt/docker/diun/{{ item }}.yml"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0644"
  loop:
    - docker-compose.yml

- name: Ensure diun systemd service installed
  ansible.builtin.template:
    src: systemd/diun.service
    dest: /etc/systemd/system/docker-diun.service
    mode: "0644"

- name: Ensure systemd is reloaded
  ansible.builtin.service:
    daemon_reload: true

- name: Make sure diun service is running
  ansible.builtin.systemd_service:
    name: docker-diun.service
    enabled: true
    state: started
