---
# - name: Create an app token in gotify
#   ansible.builtin.uri:
#     url: "https://{{ gotify_hostname }}/application"
#     method: POST
#     user: "{{ lookup('ansible.builtin.env', 'GOTIFY_USERNAME') }}"
#     password: "{{ lookup('ansible.builtin.env', 'GOTIFY_PASSWORD') }}"
#     force_basic_auth: true
#     headers: 
#       accept: "application/json"
#     body: 
#       id: 4
#       name: Diun
#       description: Diun Notification Server
#     body_format: json
#     status_code: 200
#   register: application

- name: Create main directory
  ansible.builtin.file:
    path: /mnt/docker/diun
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"

- name: Create sub directories
  ansible.builtin.file:
    path: /mnt/docker/diun/{{ item.path }}
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"
  with_community.general.filetree: templates/compose/
  when: item.state == "directory"

- name: Ensure config files exist
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: /mnt/docker/diun/{{ item.path }}
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0644"
  with_community.general.filetree: templates/compose/
  when: item.state == "file"

- name: Ensure diun systemd service installed
  ansible.builtin.template:
    src: systemd/diun.service
    dest: /etc/systemd/system/docker-diun.service
    mode: "0644"

- name: Ensure systemd is reloaded
  ansible.builtin.service:
    daemon_reload: true

- name: Make sure diun service is running
  ansible.builtin.systemd_service:
    name: docker-diun.service
    enabled: true
    state: started
