---
- name: Ensure rsyslog is present
  ansible.builtin.apt:
    pkg:
      - rsyslog
    state: present

- name: Ensures that fully-qualified domain names are used in log messages
  ansible.builtin.lineinfile:
    dest: /etc/rsyslog.conf
    regexp: "^PreserveFQDN"
    line: "$PreserveFQDN on"
    state: present

- name: Add rsyslog rules for Docker
  ansible.builtin.copy:
    src: templates/docker.conf
    dest: /etc/rsyslog.d/docker.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - Restart rsyslog
    - Restart docker

- name: Add rsyslog rules for logrotate
  ansible.builtin.template:
    src: logrotate.conf
    dest: /etc/logrotate.d/rsyslog
    mode: "0644"

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
