---
- name: Ensure requirements are installed
  ansible.builtin.apt:
    pkg:
      - rsyslog
      - logrotate
    state: present

- name: Ensures that fully-qualified domain names are used in log messages
  ansible.builtin.lineinfile:
    dest: /etc/rsyslog.conf
    regexp: "^PreserveFQDN"
    line: "$PreserveFQDN on"
    state: present

- name: Create Docker log directory
  ansible.builtin.file:
    path: /var/log/docker
    state: directory
    owner: root
    group: syslog
    mode: "0775"

- name: Add rsyslog rules for Docker
  ansible.builtin.template:
    src: docker.conf.j2
    dest: /etc/rsyslog.d/docker.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - Restart rsyslog
    - Restart docker

- name: Add rsyslog rules for logrotate
  ansible.builtin.template:
    src: logrotate.conf.j2
    dest: /etc/logrotate.d/rsyslog
    mode: "0644"

- name: Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
