---
- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0750"
  loop:
    - /mnt/docker/grafana
    - /mnt/docker/grafana/provisioning
    - /mnt/docker/grafana/provisioning/datasources
    - /mnt/docker/volumes/grafana/grafana/data
    - /mnt/docker/volumes/grafana/victoriametrics/data

- name: Ensure config files exist
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/mnt/docker/grafana/{{ item }}"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0640"
    variable_start_string: "[%"
    variable_end_string: "%]"
    trim_blocks: false
  loop:
    - compose.yml
    - prometheus.yml
    - config.alloy
    - provisioning/datasources/victoriametrics-datasource.yml
    - provisioning/datasources/loki-datasource.yml

- name: Create Grafana network
  community.docker.docker_network:
    name: grafana

- name: Run "docker compose up"
  community.docker.docker_compose_v2:
    project_src: /mnt/docker/grafana
    recreate: always
