[Unit]
Description=Traefik container
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker compose -f /mnt/docker/traefik/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /mnt/docker/traefik/docker-compose.yml stop
SyslogIdentifier=traefik

[Install]
WantedBy=multi-user.target