[Unit]
Description=Traefik container
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

ExecStartPre=/usr/bin/sh -c '/usr/bin/docker stop traefik 2>/dev/null || true'
ExecStartPre=/usr/bin/sh -c '/usr/bin/docker rm traefik 2>/dev/null || true'

ExecStart=/usr/bin/docker compose -f /mnt/docker/traefik/docker-compose.yml up

ExecStop=/usr/bin/sh -c '/usr/bin/docker stop traefik 2>/dev/null || true'
ExecStop=/usr/bin/sh -c '/usr/bin/docker rm traefik 2>/dev/null || true'

SyslogIdentifier=traefik

[Install]
WantedBy=multi-user.target