.env
.venv
ssh
.vagrant

data/keys/*
!/data/keys/.gitkeep

data/certificates/*
!/data/certificates/.gitkeep

inventory/*
!inventory/.gitkeep

host_vars/production/*.yml
host_vars/staging/*.yml

data/certs/*
!data/certs/.gitkeep