[Unit]
Description=Openobserve container
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker compose -f /mnt/docker/openobserve/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /mnt/docker/openobserve/docker-compose.yml stop
SyslogIdentifier=openobserve

[Install]
WantedBy=multi-user.target