$FileCreateMode 0644
$template DockerDaemonLogFileName,"/var/log/docker/docker.log"

template(name="DockerContainerLogFileName" type="list") {
    constant(value="/var/log/docker/")
    property(name="syslogtag" securepath="replace" regex.expression="docker/\\(.*\\)\\[" regex.submatch="1")
    constant(value=".log")
}

if $programname == 'dockerd' then {
    ?DockerDaemonLogFileName
    stop
}

if $programname == 'containerd' then {
    ?DockerDaemonLogFileName
    stop
}

if $programname == 'docker' then {
    if $syslogtag contains 'docker/' then {
        ?DockerContainerLogFileName
    }
    else {
        action(type="omfile" file="/var/log/docker/no_tag.log")
    }
    stop
}