$FileCreateMode 0644
$template DockerDaemonLogFileName,"/var/log/docker/docker.log"
$template DockerContainerLogFileName,"/var/log/docker/%SYSLOGTAG:R,ERE,1,FIELD:docker/(.*)\[--end:secpath-replace%.log"

if $programname == 'dockerd' then {
    ?DockerDaemonLogFileName
    stop
}

if $programname == 'containerd' then {
    ?DockerDaemonLogFileName
    stop
}

if $programname == 'docker' then {
    if $syslogtag contains 'docker/' then {
        ?DockerContainerLogFileName
    }
    else {
        action(type="omfile" file="/var/log/docker/no_tag.log")
    }
    stop
}
$FileCreateMode 0600