---
- name: Clone my dotfiles repo
  ansible.builtin.git: # noqa: latest
    repo: git@github.com:thomas-simonet/my-dotfiles.git
    dest: "/home/{{ default_username }}/.dotfiles"
    clone: true
    update: true

- name: Update ownership of dotfiles folder
  ansible.builtin.file:
    path: "/home/{{ default_username }}/.dotfiles"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    state: directory
    recurse: true

- name: Run setup.sh
  ansible.builtin.command:
    cmd: bash setup.sh
    chdir: "/home/{{ default_username }}/dotfiles/setup"
  become_user: "{{ default_username }}"
  become: true
  changed_when: false

- name: Chsh to /usr/bin/zsh for {{ default_username }}
  ansible.builtin.user:
    name: "{{ default_username }}"
    shell: /usr/bin/zsh
