---
- name: Clone my dotfiles repo
  ansible.builtin.git:
    repo: https://github.com/thomas-simonet/my-dotfiles
    dest: ~/dotfiles
    clone: true
    update: true
    accept_hostkey: true
    key_file: "~/.ssh/github.key"

- name: Run setup.sh
  ansible.builtin.shell:
    cmd: bash setup.sh
    chdir: "/home/{{ default_username }}/dotfiles/setup"
  become_user: "{{ default_username }}"
  become: true

- name: Chsh to /usr/bin/zsh for {{ default_username }}
  ansible.builtin.user:
    name: "{{ default_username }}"
    shell: /usr/bin/zsh
