---
- name: Ensure directories exist
  ansible.builtin.file:
    path: /mnt/docker/portainer/{{ item.path }}
    state: directory
    owner: "{{default_username}}"
    group: "{{default_username}}"
    mode: "0750"
  with_filetree: templates/compose/
  when: item.state == 'directory'

- name: Ensure config files exist
  ansible.builtin.template:
    src: '{{ item.src }}'
    dest: /mnt/docker/portainer/{{ item.path }}
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: 0640
  with_filetree: templates/compose/
  when: item.state == 'file'

- name: Ensure Portainer systemd service installed
  ansible.builtin.template:
    src: "systemd/portainer.service"
    dest: "/etc/systemd/system/docker-portainer.service"
    mode: 0640