services:
  diun:
    image: {{ diun_diun_docker_image }}
    container_name: diun
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    command: serve
    environment:
      - TZ={{ timezone }}
      - LOG_LEVEL=info
      - LOG_JSON=false
      - LOG_NOCOLOR=true
    volumes:
      - /mnt/docker/volumes/diun/data:/data
      - /mnt/docker/diun/diun.yml:/etc/diun/diun.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - diun
    labels:
      # Diun
      - diun.enable=true

networks:
  diun:
    external: true
