---
# - name: Write install-zsh
#   ansible.builtin.template:
#     src: install-zsh.sh
#     dest: "/home/{{ default_username }}"

- name: Run install zsh
  ansible.builtin.script: "../templates/install-zsh.sh"

- name: Write .zshrc config
  ansible.builtin.template:
    src: zshrc.j2
    dest: "/home/{{ default_username }}/.zshrc"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    backup: yes

- name: chsh to /usr/bin/zsh for default user and root
  ansible.builtin.user:
    name: "{{item}}"
    shell: /usr/bin/zsh
  with_items:
    - "{{default_username}}"
    - "root"
