services:

  grafana:
    image: {{ grafana_image }}
    container_name: grafana
    environment:
      - GF_SERVER_ROOT_URL=https://{{ grafana_hostname }}
    volumes:
      - /mnt/docker/monitoring/grafana:/var/lib/grafana
    networks:
      - app
      - monitoring
    labels:
      - traefik.enable=true
      - traefik.http.routers.grafana.entrypoints=https
      - traefik.http.routers.grafana.rule=Host(`{{ grafana_hostname }}`)
      - traefik.http.routers.grafana.service=grafana
      - traefik.http.routers.grafana.tls=true
      - traefik.http.services.grafana.loadbalancer.server.port=3000

  prometheus:
    image: {{ prometheus_image }}
    container_name: monitoring-prometheus
    user: 1002:1002
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.size=5GB
      - --web.external-url=https://{{ prometheus_hostname }}
    volumes:
      - /mnt/docker/monitoring/prometheus/data:/prometheus
      - /mnt/docker/monitoring/prometheus/config:/etc/prometheus
    networks:
      - app
      - monitoring
    labels:
      - traefik.enable=true
      - traefik.http.routers.prometheus.entrypoints=https
      - traefik.http.routers.prometheus.rule=Host(`{{ prometheus_hostname }}`)
      - traefik.http.routers.prometheus.service=prometheus
      - traefik.http.routers.prometheus.tls=true
      - traefik.http.services.prometheus.loadbalancer.server.port=9090
      # - traefik.http.routers.grafana-prom.middlewares=grafana-prom-auth
      # - traefik.http.middlewares.grafana-prom-auth.basicauth.users=${PROM_USER:-admin}:${PROM_PASSWORD:-htpasswd}

  {# cadvisor:
    image: {{ cadvisor_image }}
    container_name: monitoring-cadvisor
    command: -docker_only=true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - monitoring

  node-exporter:
    image: {{ node_exporter_image }}
    container_name: monitoring-node-exporter
    environment:
      {{ "- NODE_ID={{.Node.ID}}" }}
    volumes:
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /proc:/host/proc:ro
      - /etc/hostname:/etc/hostname
      - /mnt:/mnt:ro
    command:
      - '--path.sysfs=/host/sys'
      - '--path.procfs=/host/proc'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
      - '--no-collector.ipvs'
    networks:
      - monitoring #}

networks:
  app:
    external: true
  monitoring:
    external: true