
plugins=(
    git
    zsh-autosuggestions
    zsh-syntax-highlighting
    you-should-use
)

# ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=240" # gray highlight

# Aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# Set up fzf key bindings and fuzzy completion
# eval "$(fzf --zsh)"