---
- name: Create main directory
  ansible.builtin.file:
    path: /mnt/docker/monitoring
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"

- name: Create sub directories
  ansible.builtin.file:
    path: /mnt/docker/monitoring/{{ item }}
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"
  loop:
    - prometheus
    - prometheus/config
    - prometheus/data

- name: Ensure promethieus config files exist
  ansible.builtin.template:
    src: "compose/prometheus.config.yml.j2"
    dest: "/mnt/docker/monitoring/prometheus/config/prometheus.yml"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0644"

- name: Ensure config files exist
  ansible.builtin.template:
    src: "compose/docker-compose.yml.j2"
    dest: /mnt/docker/monitoring/docker-compose.yml
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0644"

# - name: Ensure monitoring systemd service installed
#   ansible.builtin.template:
#     src: "systemd/monitoring.service"
#     dest: "/etc/systemd/system/docker-monitoring.service"
#     mode: "0644"

# - name: Ensure systemd is reloaded
#   ansible.builtin.service:
#     daemon_reload: true

# - name: Make sure monitoring service is running
#   ansible.builtin.systemd_service:
#     name: docker-monitoring.service
#     enabled: true
#     state: started
