---
- name: Create main directory
  ansible.builtin.file:
    path: /mnt/docker/monitoring
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"

- name: Create subdirectories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"
  loop:
    - /mnt/docker/monitoring/alertmanager
    - /mnt/docker/monitoring/grafana
    - /mnt/docker/monitoring/grafana/dashboards
    - /mnt/docker/monitoring/grafana/provisioning
    - /mnt/docker/monitoring/grafana/provisioning/dashboards
    - /mnt/docker/monitoring/grafana/provisioning/datasources
    - /mnt/docker/monitoring/grafana/provisioning/datasources/prometheus-datasource
    - /mnt/docker/monitoring/grafana/provisioning/datasources/victorialogs-datasource
    - /mnt/docker/monitoring/grafana/provisioning/datasources/victoriametrics-datasource
    - /mnt/docker/monitoring/vmagent
    - /mnt/docker/monitoring/vmalert
    - /mnt/docker/monitoring/victoriametrics

- name: Create volumes directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0755"
  loop:
    - /mnt/docker/volumes/monitoring/grafana/data
    - /mnt/docker/volumes/monitoring/vmagent/data
    - /mnt/docker/volumes/monitoring/victoriametrics/data

- name: Ensure config files exist
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/mnt/docker/monitoring/{{ item }}"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0644"
    variable_start_string: "[%"
    variable_end_string: "%]"
    trim_blocks: false
  loop:
    - compose.yml
    - alertmanager/alertmanager.yml
    - grafana/dashboards/victoriametrics.json
    - grafana/dashboards/vmagent.json
    - grafana/dashboards/vmalert.json
    - grafana/provisioning/dashboards/dashboard.yml
    - grafana/provisioning/datasources/prometheus-datasource/prometheus-datasource.yml
    - grafana/provisioning/datasources/victorialogs-datasource/victorialogs-datasource.yml
    - grafana/provisioning/datasources/victoriametrics-datasource/victoriametrics-datasource.yml
    - vmagent/prometheus.yml
    - vmalert/alerts-health.yml
    - vmalert/alerts-vmagent.yml
    - vmalert/alerts-vmalert.yml
    - vmalert/alerts.yml

- name: Run "docker compose up"
  community.docker.docker_compose_v2:
    project_src: /mnt/docker/monitoring
    wait: true
    wait_timeout: 300
