services:
  seq:
    image: datalust/seq
    container_name: seq
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment:
      - TZ={{ timezone }}
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD={{ default_password }}
    ports:
      - 127.0.0.1:5341:80
    volumes:
      - /mnt/docker/volumes/seq/data:/data
    networks:
      cloudflared:
        ipv4_address: 192.168.96.5
    labels:
      - traefik.enable=true
      - traefik.http.routers.seq.rule=Host(`seq.thomassimonet.dev`)
      - traefik.http.routers.seq.entrypoints=websecure
      - traefik.http.routers.seq.tls.certresolver=cloudflareResolver
      - traefik.http.services.seq.loadbalancer.server.port=80

networks:
  cloudflared:
    external: true