services:
  restic:
    image: {{ restic_image }}
    container_name: restic
    restart: unless-stopped
    environment:
      - RUN_ON_STARTUP=false
      - BACKUP_CRON=0 30 3 * * *
      - RESTIC_BACKUP_SOURCES=/mnt/docker/volumes
      - RESTIC_FORGET_ARGS= >-
        --keep-last 10
        --keep-daily 7
        --keep-weekly 5
        --keep-monthly 12
      - RESTIC_REPOSITORY={{ lookup('ansible.builtin.env', 'B2_BUCKET_ENDPOINT') }}
      - RESTIC_PASSWORD={{ lookup('ansible.builtin.env', 'B2_ACCOUNT_PWD') }}
      - AWS_ACCESS_KEY_ID={{ lookup('ansible.builtin.env', 'B2_APP_KEY_ID') }}
      - AWS_SECRET_ACCESS_KEY={{ lookup('ansible.builtin.env', 'B2_APP_KEY') }}
      - TZ={{ timezone }}
      - POST_COMMANDS_FAILURE= >-
          curl -X POST -F 'urls={{ discord_webhook_backups }}' -F 'body=Backup failed' http://apprise-api:8000/notify
      - POST_COMMANDS_SUCCESS= >-
          curl -X POST -F 'urls={{ discord_webhook_backups }}' -F 'body=Backup successful' http://apprise-api:8000/notify
    volumes:
      - /mnt/docker/volumes:/mnt/docker/volumes:ro
    networks:
      - notification
    labels:
      - diun.enable=true

  prune:
    image: {{ restic_image }}
    container_name: restic-prune
    restart: unless-stopped
    environment:
      - SKIP_INIT=true
      - RUN_ON_STARTUP=false
      - PRUNE_CRON=0 0 4 * * *
      - RESTIC_REPOSITORY={{ lookup('ansible.builtin.env', 'B2_BUCKET_ENDPOINT') }}
      - RESTIC_PASSWORD={{ lookup('ansible.builtin.env', 'B2_ACCOUNT_PWD') }}
      - AWS_ACCESS_KEY_ID={{ lookup('ansible.builtin.env', 'B2_APP_KEY_ID') }}
      - AWS_SECRET_ACCESS_KEY={{ lookup('ansible.builtin.env', 'B2_APP_KEY') }}
      - TZ={{ timezone }}

  check:
    image: {{ restic_image }}
    container_name: restic-check
    restart: unless-stopped
    environment:
      - RUN_ON_STARTUP=false
      - CHECK_CRON=0 15 5 * * *
      - RESTIC_CHECK_ARGS= >-
        --read-data-subset=10%
      - RESTIC_REPOSITORY={{ lookup('ansible.builtin.env', 'B2_BUCKET_ENDPOINT') }}
      - RESTIC_PASSWORD={{ lookup('ansible.builtin.env', 'B2_ACCOUNT_PWD') }}
      - AWS_ACCESS_KEY_ID={{ lookup('ansible.builtin.env', 'B2_APP_KEY_ID') }}
      - AWS_SECRET_ACCESS_KEY={{ lookup('ansible.builtin.env', 'B2_APP_KEY') }}
      - TZ={{ timezone }}

networks:
  notification:
    external: true
