[Unit]
Description=Restic container
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

ExecStartPre=/usr/bin/sh -c '/usr/bin/docker stop restic 2>/dev/null || true'
ExecStartPre=/usr/bin/sh -c '/usr/bin/docker stop restic-prune 2>/dev/null || true'
ExecStartPre=/usr/bin/sh -c '/usr/bin/docker stop restic-check 2>/dev/null || true'

ExecStartPre=/usr/bin/sh -c '/usr/bin/docker rm restic 2>/dev/null || true'
ExecStartPre=/usr/bin/sh -c '/usr/bin/docker rm restic-prune 2>/dev/null || true'
ExecStartPre=/usr/bin/sh -c '/usr/bin/docker rm restic-check 2>/dev/null || true'

ExecStart=/usr/bin/docker compose -f /mnt/docker/restic/docker-compose.yml up

ExecStop=/usr/bin/sh -c '/usr/bin/docker stop restic 2>/dev/null || true'
ExecStop=/usr/bin/sh -c '/usr/bin/docker stop restic-prune 2>/dev/null || true'
ExecStop=/usr/bin/sh -c '/usr/bin/docker stop restic-check 2>/dev/null || true'

ExecStop=/usr/bin/sh -c '/usr/bin/docker rm restic 2>/dev/null || true'
ExecStop=/usr/bin/sh -c '/usr/bin/docker rm restic-prune 2>/dev/null || true'
ExecStop=/usr/bin/sh -c '/usr/bin/docker rm restic-check 2>/dev/null || true'

SyslogIdentifier=restic

[Install]
WantedBy=multi-user.target