[Unit]
Description=Diun container
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker compose -f /mnt/docker/diun/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /mnt/docker/diun/docker-compose.yml stop
SyslogIdentifier=diun

[Install]
WantedBy=multi-user.target