services:
  # Grafana instance configured with VictoriaLogs as datasource
  grafana:
    image: [% monitoring_grafana_docker_image %]
    restart: unless-stopped
    depends_on:
      - victoriametrics
      - victorialogs
    user: "1001"
    ports:
      - 127.0.0.1:3000:3000
    volumes:
      - /mnt/docker/volumes/grafana/grafana/data:/var/lib/grafana
      - /mnt/docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - /mnt/docker/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - /mnt/docker/grafana/dashboards/victorialogs.json:/var/lib/grafana/dashboards/vl.json
    environment:
      - GF_INSTALL_PLUGINS=victoriametrics-logs-datasource
    networks:
      - cloudflared
      - grafana
    labels:
      - traefik.enable=true
      - traefik.http.routers.grafana.rule=Host(`[% monitoring_grafana_fqdn %]`)
      - traefik.http.routers.grafana.entrypoints=websecure
      - traefik.http.routers.grafana.tls.certresolver=cloudflareResolver
      - traefik.http.services.grafana.loadbalancer.server.port=3000

  # vector is logs collector. It collects logs according to vector.yml
  # and forwards them to VictoriaLogs
  vector:
    image: docker.io/timberio/vector:0.46.X-distroless-libc
    restart: unless-stopped
    depends_on: 
      - victorialogs
    ports:
      - 127.0.0.1:8686:8686
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/docker/grafana/vector.yml:/etc/vector/vector.yaml:ro
    networks:
      - grafana

  #  VictoriaLogs instance, a single process responsible for
  #  storing logs and serving read queries.
  victorialogs:
    image: [% monitoring_victorialogs_docker_image %]
    restart: unless-stopped
    ports:
      - 127.0.0.1:9428:9428
    volumes:
      - /mnt/docker/volumes/grafana/victorialogs/data:/vlogs
    command:
      - --storageDataPath=/vlogs
    networks:
      - grafana

  # VictoriaMetrics instance, a single process responsible for
  # scraping, storing metrics and serve read requests.
  victoriametrics:
    image: [% monitoring_victoriametrics_docker_image %]
    restart: unless-stopped
    ports:
      - 127.0.0.1:8428:8428
    volumes:
      - /mnt/docker/volumes/grafana/victoriametrics/data:/storage
      - /mnt/docker/grafana/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --storageDataPath=/storage
      - --promscrape.config=/etc/prometheus/prometheus.yml
    networks:
      - grafana

  # vmauth is a router and balancer for HTTP requests.
  # It proxies query requests from vmalert to either VictoriaMetrics or VictoriaLogs,
  # depending on the requested path.
  vmauth:
    image: [% monitoring_vmauth_docker_image %]
    restart: unless-stopped
    depends_on:
      - victoriametrics
      - victorialogs
    ports:
      - 127.0.0.1:8427:8427
    volumes:
      - /mnt/docker/grafana/auth.yml:/etc/auth.yml
    command:
      - --auth.config=/etc/auth.yml
    networks:
      - grafana

  # vmalert executes alerting and recording rules according to the given rule type.
  vmalert:
    image: [% monitoring_vmalert_docker_image %]
    restart: unless-stopped
    depends_on:
      - vmauth
      - alertmanager
      - victoriametrics
    ports:
      - 127.0.0.1:8880:8880
    volumes:
      - /mnt/docker/grafana/rules/alerts-vlogs.yml:/etc/alerts/vlogs.yml
      - /mnt/docker/grafana/rules/alerts-health.yml:/etc/alerts/alerts-health.yml
      # vlogs rule
      #- ./vlogs-example-alerts.yml:/etc/alerts/vlogs-example-alerts.yml
    command:
      # it evaluates data against VictoriaMetrics and VictoriaLogs
      # vmauth routes queries to corresponding datasource based on API path
      - "--datasource.url=http://vmauth:8427/"
      # results of alerting and recording rules are persisted to VictoriaMetrics only
      - "--remoteWrite.url=http://victoriametrics:8428/"
      # alerts state is restored from VictoriaMetrics on restarts
      - "--remoteRead.url=http://victoriametrics:8428/"
      - "--notifier.url=http://alertmanager:9093/"
      - "--rule=/etc/alerts/*.yml"
      # display source of alerts in grafana
      - "--external.url=http://127.0.0.1:3000" #grafana outside container
      - '--external.alert.source=explore?orgId=1&left={"datasource":"{{ if eq .Type "vlogs" }}VictoriaLogs{{ else }}VictoriaMetrics{{ end }}","queries":[{"expr":{{.Expr|jsonEscape|queryEscape}},"refId":"A"}],"range":{"from":"{{ .ActiveAt.UnixMilli }}","to":"now"}}'
    networks:
      - grafana

  # alertmanager receives alerting notifications from vmalert
  # and distributes them according to --config.file.
  alertmanager:
    image: [% monitoring_alertmanager_docker_image %]
    restart: unless-stopped
    volumes:
      - /mnt/docker/grafana/alertmanager.yml:/config/alertmanager.yml
    command:
      - --config.file=/config/alertmanager.yml
    ports:
      - 127.0.0.1:9093:9093
    networks:
      - grafana

  loki:
    image: grafana/loki:latest
    ports:
      - 127.0.0.1:3100:3100
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - grafana

  alloy:
    image: grafana/alloy:${GRAFANA_ALLOY_VERSION:-v1.10.0}
    privileged: true
    ports:
      - 127.0.0.1:12345:12345
      - 127.0.0.1:4317:4317
      - 127.0.0.1:4318:4318
    environment:
      ALLOY_DEPLOY_MODE: docker
    volumes:
      - /mnt/docker/grafana/config.alloy:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command: run --server.http.listen-addr=127.0.0.1:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    extra_hosts:
      - "host.docker.internal:host-gateway"
    devices:
      - /dev/kmsg
    networks:
      - grafana

networks:
  grafana:
    external: true
  cloudflared:
    external: true