services:
  # Grafana instance configured with VictoriaLogs as datasource
  grafana:
    image: [% monitoring_grafana_docker_image %]
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    depends_on:
      - victoriametrics
    user: "1001"
    ports:
      - 127.0.0.1:3000:3000
    volumes:
      - /mnt/docker/volumes/grafana/grafana/data:/var/lib/grafana
      - /mnt/docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    networks:
      - cloudflared
      - grafana
      - diun
    labels:
      - traefik.enable=true
      - traefik.http.routers.grafana.rule=Host(`[% monitoring_grafana_fqdn %]`)
      - traefik.http.routers.grafana.service=grafana
      - traefik.http.routers.grafana.entrypoints=websecure
      - traefik.http.routers.grafana.tls=true
      - traefik.http.routers.grafana.tls.certresolver=cloudflareResolver
      - traefik.http.services.grafana.loadbalancer.server.port=3000
      - diun.enable=true

  # VictoriaMetrics instance, a single process responsible for
  # scraping, storing metrics and serve read requests.
  victoriametrics:
    image: [% monitoring_victoriametrics_docker_image %]
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    ports:
      - 127.0.0.1:8428:8428
      - 127.0.0.1:8089:8089
      - 127.0.0.1:8089:8089/udp
      - 127.0.0.1:2003:2003
      - 127.0.0.1:2003:2003/udp
      - 127.0.0.1:4242:4242
    volumes:
      - /mnt/docker/volumes/grafana/victoriametrics/data:/storage
      - /mnt/docker/grafana/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --storageDataPath=/storage
      - --graphiteListenAddr=:2003
      - --opentsdbListenAddr=:4242
      - --httpListenAddr=:8428
      - --influxListenAddr=:8089
      - --promscrape.config=/etc/prometheus/prometheus.yml
    networks:
      - cloudflared
      - grafana
      - diun
    labels:
      - traefik.enable=true
      - traefik.http.routers.victoriametrics.rule=Host(`[% monitoring_victoriametrics_fqdn %]`)
      - traefik.http.routers.victoriametrics.service=victoriametrics
      - traefik.http.routers.victoriametrics.entrypoints=websecure
      - traefik.http.routers.victoriametrics.tls=true
      - traefik.http.routers.victoriametrics.tls.certresolver=cloudflareResolver
      - traefik.http.services.victoriametrics.loadbalancer.server.port=8428
      - diun.enable=true

  loki:
    image: [% monitoring_loki_docker_image %]
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    ports:
      - 127.0.0.1:3100:3100
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - grafana
      - diun
    labels:
      - diun.enable=true

  alloy:
    image: [% monitoring_alloy_docker_image %]
    restart: unless-stopped
    privileged: true
    ports:
      - 127.0.0.1:12345:12345
      - 127.0.0.1:4317:4317
      - 127.0.0.1:4318:4318
    environment:
      ALLOY_DEPLOY_MODE: docker
    volumes:
      - /mnt/docker/grafana/config.alloy:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    extra_hosts:
      - host.docker.internal:host-gateway
    devices:
      - /dev/kmsg
    networks:
      - grafana
      - diun
    labels:
      - diun.enable=true

networks:
  grafana:
    external: true
  cloudflared:
    external: true
  diun:
    external: true
