services:
  apprise:
    image: {{ apprise_apprise_docker_image }}
    container_name: apprise
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment:
      - TZ={{ timezone }}
    volumes:
      - /mnt/docker/volumes/apprise/config:/config
    networks:
      - public
      - diun-watch
      - notification
    labels:
      # Traefik
      - traefik.enable=true
      - traefik.http.routers.apprise.rule=Host(`{{ apprise_fqdn }}`)
      - traefik.http.routers.apprise.service=apprise
      - traefik.http.routers.apprise.entrypoints=https
      - traefik.http.routers.apprise.tls=true
      - traefik.http.services.apprise.loadbalancer.server.port=8000
      - traefik.http.middlewares.apprise-auth.basicauth.usersfile=/etc/traefik/basic_auth/apprise
      - traefik.http.routers.apprise-ui.middlewares=apprise-auth
      # Diun
      - diun.enable=true

networks:
  public:
    external: true
  diun-watch:
    external: true
  notification:
    external: true
