services:
  apprise:
    image: {{ apprise_apprise_docker_image }}
    container_name: apprise
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment:
      - PUID=1001
      - PGID=1001
      - TZ={{ timezone }}
    ports:
      - 127.0.0.1:8000:8000
    volumes:
      - /mnt/docker/volumes/apprise/config:/config
    networks:
      - cloudflared
      - notification
      - diun
    labels:
      - traefik.enable=true
      - traefik.http.routers.apprise.rule=Host(`{{ apprise_fqdn }}`)
      - traefik.http.routers.apprise.service=apprise
      - traefik.http.routers.apprise.entrypoints=websecure
      - traefik.http.routers.apprise.tls=true
      - traefik.http.routers.apprise.tls.certresolver=cloudflareResolver
      - traefik.http.services.apprise.loadbalancer.server.port=8000
      - diun.enable=true

networks:
  cloudflared:
    external: true
  notification:
    external: true
  diun:
    external: true
