services:
  zipline:
    container_name: zipline-
    image: {{ zipline_zipline_docker_image }} 
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    depends_on:
      - 'postgres'
    environment:
      - CORE_RETURN_HTTPS=true
      - CORE_SECRET={{ zipline_zipline_secret }}
      - CORE_HOST=0.0.0.0
      - CORE_PORT=3000
      - CORE_DATABASE_URL=postgres://{{ zipline_postgres_user }}:{{ zipline_postgres_password }}@postgres/{{ zipline_postgres_database }}
      - CORE_LOGGER=true
    volumes:
      - /mnt/docker/volumes/zipline/zipline/uploads:/zipline/uploads
      - /mnt/docker/volumes/zipline/zipline/public:/zipline/public
    networks:
      - public
      - zipline
      - diun-watch
    labels:
      # Traefik
      - traefik.enable=true
      - traefik.http.routers.zipline.rule=Host(`{{ zipline_fqdn }}`)
      - traefik.http.routers.zipline.service=zipline
      - traefik.http.routers.zipline.entrypoints=https
      - traefik.http.routers.zipline.tls=true
      - traefik.http.services.zipline.loadbalancer.server.port=3000
      # Diun
      - diun.enable=true

  postgres:
    container_name: zipline-postgres
    image: {{ zipline_postgres_docker_image }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment:
      - POSTGRES_USER={{ zipline_postgres_user }}
      - POSTGRES_PASSWORD={{ zipline_postgres_password }}
      - POSTGRES_DATABASE={{ zipline_postgres_database }}
    volumes:
      - /mnt/docker/volumes/zipline/postgres/data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - zipline

networks:
  public:
    external: true
  zipline:
    external: true
  diun-watch:
    external: true