---
- name: Restart ssh
  ansible.builtin.service:
    name: ssh
    state: restarted
    enabled: true
  become: true

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
    enabled: true
  become: true

- name: Reload ufw
  community.general.ufw:
    state: reloaded
  become: true
