services:
  readeck:
    image: {{ readeck_readeck_docker_image }}
    container_name: readeck
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment:
      - TZ={{ timezone }}
    volumes:
      - /mnt/docker/volumes/readeck:/readeck
    networks:
      - cloudflared
      - diun
    labels:
      - traefik.enable=true
      - traefik.http.routers.readeck.rule=Host(`{{ readeck_fqdn }}`)
      - traefik.http.routers.readeck.service=readeck
      - traefik.http.routers.readeck.entrypoints=websecure
      - traefik.http.routers.readeck.tls=true
      - traefik.http.routers.readeck.tls.certresolver=cloudflareResolver
      - traefik.http.services.readeck.loadbalancer.server.port=8000
      - diun.enable=true

networks:
  cloudflared:
    external: true
  diun:
    external: true
