services:
  freshrss:
    image: {{ freshrss_freshrss_docker_image }}
    container_name: freshrss
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment:
      - PUID=1001
      - PGID=1001
      - TZ={{ timezone }}
    volumes:
      - /mnt/docker/volumes/freshrss:/var/www/FreshRSS/data
    networks:
      - cloudflared
      - diun
    labels:
      - traefik.enable=true
      - traefik.http.routers.freshrss.rule=Host(`{{ freshrss_fqdn }}`)
      - traefik.http.routers.freshrss.service=freshrss
      - traefik.http.routers.freshrss.entrypoints=websecure
      - traefik.http.routers.freshrss.tls=true
      - traefik.http.routers.freshrss.tls.certresolver=cloudflareResolver
      - traefik.http.services.freshrss.loadbalancer.server.port=80
      - diun.enable=true

networks:
  cloudflared:
    external: true
  diun:
    external: true
