services:
  mealie:
    image: {{ mealie_mealie_image }}
    container_name: mealie
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    security_opt:
      - no-new-privileges=true
    environment:
      # Set Backend ENV Variables Here
      - PUID=1002
      - PGID=1002
      - BASE_URL={{ mealie_hostname }}
      - ALLOW_SIGNUP=false
      - API_DOCS=FALSE
      - TZ={{ timezone }}
      - MAX_WORKERS=1
      - WEB_CONCURRENCY=1
      # Database Settings
      - DB_ENGINE=postgres
      - POSTGRES_USER=mealie
      - POSTGRES_PASSWORD=mealie
      - POSTGRES_SERVER=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=mealie
    volumes:
      - /mnt/docker/volumes/mealie/mealie/data:/app/data
    networks:
      - app
      - mealie
      - diun-watch
    labels:
      - traefik.enable=true
      - traefik.http.routers.mealie.rule=Host(`{{ mealie_hostname }}`)
      - traefik.http.routers.mealie.service=mealie
      - traefik.http.routers.mealie.entrypoints=https
      - traefik.http.routers.mealie.tls=true
      - traefik.http.services.mealie.loadbalancer.server.port=9000
      - diun.enable=true

  postgres:
    image: {{ mealie_postgres_image }}
    container_name: mealie-postgres
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment:
      - POSTGRES_USER=mealie
      - POSTGRES_PASSWORD=mealie
      - POSTGRES_DB=mealie
      - PGUSER=mealie
    volumes:
      - /mnt/docker/volumes/mealie/postgres/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - mealie

networks:
  app:
    external: true
  mealie:
    external: true
  diun-watch:
    external: true