---
- name: Ensure apprise's dashboard is protected by htpasswd
  community.general.htpasswd:
    path: /mnt/docker/traefik/basic_auth/apprise
    name: "{{ apprise_basic_auth_user }}"
    password: "{{ apprise_basic_auth_password }}"
    owner: "{{ default_username }}"
    group: "{{ default_username }}"
    mode: "0640"
