---
- name: Fail2ban | Ensure fail2ban is present
  ansible.builtin.apt:
    pkg:
      - iptables
    state: present

- name: Iptables | Configure tcp ACCEPT rules
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_ports:
      - "80"
      - "443"
      - "22"
    jump: ACCEPT

- name: Iptables | Allow Outgoing Traffic
  ansible.builtin.iptables:
    chain: OUTPUT
    policy: ACCEPT
    action: insert
    rule_num: 2

- name: Iptables | Drop everything
  ansible.builtin.iptables:
    chain: INPUT
    policy: DROP
    action: insert
    rule_num: 1
