---
- name: Iptables | Ensure iptables is present
  ansible.builtin.apt:
    pkg:
      - iptables
      - iptables-persistent
    state: present

- name: Iptables | Allow Loopback Connections (Input)
  ansible.builtin.iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT

- name: Iptables | Allow Loopback Connections (Output)
  ansible.builtin.iptables:
    chain: OUTPUT
    out_interface: lo
    jump: ACCEPT

- name: Iptables | Allow established and related connections
  ansible.builtin.iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT

- name: Iptables | Allow established outgoing connections
  ansible.builtin.iptables:
    chain: OUTPUT
    ctstate: ESTABLISHED
    jump: ACCEPT

- name: Iptables | Allow incoming SYN packets on TCP port 22 (SSH)
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 22
    ctstate: NEW,ESTABLISHED
    syn: match
    jump: ACCEPT

- name: Iptables | Allow outgoing SYN packets on TCP port 22 (SSH)
  ansible.builtin.iptables:
    chain: OUTPUT
    protocol: tcp
    source_port: 22
    ctstate: ESTABLISHED
    syn: match
    jump: ACCEPT

- name: Iptables | Configure tcp incoming ACCEPT rules
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_ports:
      - "80"
      - "443"
    jump: ACCEPT

- name: Iptables | Configure udp outgoing ACCEPT rules
  ansible.builtin.iptables:
    chain: OUTPUT
    protocol: udp
    destination_ports:
      - "53"
    jump: ACCEPT

- name: Iptables | Save current state of the firewall in system file
  community.general.iptables_state:
    state: saved
    path: /etc/iptables/rules.v4