---
- name: Packages | Upgrade packages
  ansible.builtin.apt:
    upgrade: full
    update_cache: true
  become: true

- name: Packages | Install packages
  ansible.builtin.apt:
    pkg:
      - python3-pip
      - python3-passlib # requirement for ansible
      - ca-certificates
      - git
      - acl
      - screen
      - net-tools
      - sudo
      - iptables
      - ufw
      - build-essential
      - jq
      - htop
      - vim
      - nano
      - wget
      - curl
      - gzip
      - zip
      - unzip
    state: present
    update_cache: true
    allow_unauthenticated: true
  become: true

- name: Disable unattended upgrades
  ansible.builtin.lineinfile:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    search_string: 'Unattended-Upgrade'
    line: 'APT::Periodic::Unattended-Upgrade "0";'
