---
- name: Packages | Upgrade packages
  ansible.builtin.apt:
    upgrade: full
    update_cache: true
  become: true

- name: Packages | Install packages
  ansible.builtin.apt:
    pkg:
      - python3-pip
      - ca-certificates
      - git
      - acl
      - screen
      - net-tools
      - sudo
      - ufw
      - build-essential
      - jq
      - htop
      - vim
      - nano
      - logrotate
      - wget
      - curl
      - gzip
      - zip
      - unzip
    state: present
    update_cache: true
    allow_unauthenticated: true
  become: true

- name: Packages | Install python requirements
  ansible.builtin.pip:
    name:
      - docker # Required for community.docker.docker_secret
      - requests==2.32.2 # Required for community.docker
      - passlib # Required for community.general.htpasswd
    state: present
  become: true

- name: Disable unattended upgrades
  ansible.builtin.lineinfile:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    search_string: 'Unattended-Upgrade'
    line: 'APT::Periodic::Unattended-Upgrade "0";'
