---
- name: Packages | Upgrade packages
  ansible.builtin.apt:
    upgrade: full

- name: Packages | Install packages
  ansible.builtin.apt:
    pkg:
      - python3-pip
      - ca-certificates
      - git
      - acl
      - screen
      - net-tools
      - sudo
      - ufw
      - build-essential
      - jq
      - htop
      - vim
      - nano
      - logrotate
      - wget
      - curl
      - gzip
      - zip
      - unzip
    state: present
    update_cache: true
    allow_unauthenticated: true

- name: Packages | Install python requirements
  ansible.builtin.pip:
    name:
      - docker # Required for community.docker.docker_secret
      - requests==2.32.2 # Required for community.docker
    state: present
  become: true