---
- name: SSH | Remove any PermitRootLogin instruction
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^PermitRootLogin"
    state: absent
  notify: Restart ssh

- name: SSH | Disable SSH root login
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^PermitRootLogin"
    line: "PermitRootLogin no"
    state: present
  notify: Restart ssh

- name: SSH | Disable password authentication
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication no"
    state: present
  notify: Restart ssh

- name: SSH | Increase LogLevel to VERBOSE
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^LogLevel"
    line: "LogLevel VERBOSE"
    state: present
  notify: Restart ssh

- name: SSH | Add authorized keys
  ansible.posix.authorized_key:
    user: "{{ default_username }}"
    state: present
    key: "{{ lookup('ansible.builtin.file', './data/keys/public.key') }}"

- name: SSH | Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
