---
- name: SSH | Copy sshd configuration
  ansible.builtin.template:
    src: sshd.conf.j2
    dest: /etc/ssh/sshd_config
    mode: "0600"
  notify: Restart ssh

- name: SSH | UFW limit SSH connections
  community.general.ufw:
    rule: limit
    port: ssh
    proto: tcp

- name: SSH | Ensure UFW allows OpenSSH
  community.general.ufw:
    rule: allow
    name: OpenSSH

- name: SSH | Enable SSH forwarding for sudo
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    insertafter: '^#?\s*Defaults\s+env_keep\b'
    line: 'Defaults    env_keep += "SSH_AUTH_SOCK"'

- name: SSH | Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
