---
- name: SSH | Copy sshd configuration
  ansible.builtin.template:
    src: sshd.conf.j2
    dest: /etc/ssh/sshd_config
    mode: "0600"
  notify: Restart ssh

- name: SSH | Add authorized keys
  ansible.posix.authorized_key:
    user: "{{ default_username }}"
    state: present
    key: "{{ lookup('ansible.builtin.file', './data/keys/ssh_public.key') }}"
  notify: Restart ssh

- name: SSH | Apply configuration (flush handlers)
  ansible.builtin.meta: flush_handlers
