---
- name: User | Update default user, belonging to sudo group
  ansible.builtin.user:
    name: "{{ default_username }}"
    password: "{{ default_password | password_hash('sha512') }}"
    groups: "sudo"
    create_home: true
    update_password: "on_create"
    state: present

- name: User | Add authorized keys
  ansible.posix.authorized_key:
    user: "{{ default_username }}"
    state: present
    key: "{{ lookup('ansible.builtin.file', './data/keys/ssh_public.key') }}"
  notify: Restart ssh

- name: Get default user info
  ansible.builtin.getent:
    database: passwd
    key: "{{ default_username }}"
