---
- name: User | Update default user, belonging to sudo group
  ansible.builtin.user:
    name: "{{ default_username }}"
    password: "{{ default_password | password_hash('sha512') }}"
    groups: "sudo"
    create_home: true
    update_password: "on_create"
    state: present

- name: User | Ensure sudo group has sudo privileges without password
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^%sudo"
    line: "%sudo ALL=(ALL) NOPASSWD:ALL"
    validate: "/usr/sbin/visudo -cf %s"
  when: is_vagrant
