services:
  beszel:
    image: {{ beszel_beszel_docker_image }}
    container_name: beszel
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    ports:
      - 127.0.0.1:8090:8090
    volumes:
      - /mnt/docker/volumes/beszel/data:/beszel_data
      - /mnt/docker/volumes/beszel/socket:/beszel_socket
    networks:
      cloudflared:
        ipv4_address: 192.168.96.4
    labels:
      - traefik.enable=true
      - traefik.http.routers.beszel.rule=Host(`{{ beszel_fqdn }}`)
      - traefik.http.routers.beszel.entrypoints=websecure
      - traefik.http.routers.beszel.tls.certresolver=cloudflareResolver
      - traefik.http.services.beszel.loadbalancer.server.port=8090

  beszel-agent:
    image: {{ beszel_beszel_agent_docker_image }}
    container_name: beszel-agent
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    network_mode: host
    volumes:
      - /mnt/docker/volumes/beszel/agent/data:/var/lib/beszel-agent
      - /mnt/docker/volumes/beszel/socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      HUB_URL: http://localhost:8090
      KEY: {{ beszel_agent_key }}
      TOKEN: {{ beszel_agent_token }}

networks:
  cloudflared:
    external: true