tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/ssl/traefik/cf_cert.pem
        keyFile: /etc/ssl/traefik/cf_key.pem
  certificates:
    - certFile: /etc/ssl/traefik/cf_cert.pem
      keyFile: /etc/ssl/traefik/cf_key.pem