---
- hosts: all
  vars_files:
    - group_vars/all.yml
    - group_vars/apt.yml
    - group_vars/docker.yml
  vars:
    is_vagrant: false
  become: true
  roles:
    # - role: oefenweb.fail2ban
    #   tags: fail2ban

    - role: common
      tags: common

    # - role: ufw
    #   tags: ufw

    # - role: ssh
    #   tags: ssh

    - role: user
      tags: user

    - role: dotfiles
      tags: dotfiles

    - role: docker
      tags: docker

    # - role: rsyslog
    #   tags: rsyslog

    - role: compose
      tags: compose