services:
  traefik:
    image: {{ traefik_traefik_docker_image }}
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    environment:
      - TZ={{ timezone }}
      - CF_DNS_API_TOKEN={{ cloudflare_dns_api_token }}
    ports:
      - 127.0.0.1:80:80
      - 127.0.0.1:443:443
    volumes:
      - /mnt/docker/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - /mnt/docker/traefik/acme.json:/etc/traefik/acme.json
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - cloudflared
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik-dashboard.rule=Host(`{{ traefik_fqdn }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      - traefik.http.routers.traefik-dashboard.service=api@internal
      - traefik.http.routers.traefik-dashboard.entrypoints=websecure
      - traefik.http.routers.traefik-dashboard.tls.certresolver=cloudflareResolver
      - diun.enable=true

networks:
  cloudflared:
    external: true
