## Dynamic configuration

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/ssl/traefik/cf_cert.pem
        keyFile: /etc/ssl/traefik/cf_key.pem
  certificates:
    - certFile: /etc/ssl/traefik/cf_cert.pem
      keyFile: /etc/ssl/traefik/cf_key.pem
      stores:
        - default

http:
  middlewares:
    crowdsec:
      plugin:
        crowdsec-bouncer-traefik-plugin:
          enabled: false
          crowdsecLapiKey: {{ crowdsec_traefik_bouncer_key }}
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
