## Dynamic configuration

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/ssl/traefik/cf_cert.pem
        keyFile: /etc/ssl/traefik/cf_key.pem
  certificates:
    - certFile: /etc/ssl/traefik/cf_cert.pem
      keyFile: /etc/ssl/traefik/cf_key.pem
      stores:
        - default

http:
  routers:
    netdata:
      rule: "Host(`{{ netdata_fqdn }}`)"
      entryPoints:
        - https
      service: netdata
      tls: true
  services:
    netdata:
      loadBalancer:
        servers:
          - url: "http://172.17.0.1:19999"
  middlewares:
    crowdsec:
      plugin:
        crowdsec-bouncer-traefik-plugin:
          enabled: false
          crowdsecLapiKey: {{ crowdsec_traefik_bouncer_key }}
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
          crowdsecAppsecEnabled: true
          crowdsecAppsecHost: crowdsec:7422
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true