---
- name: Install RDP packages
  ansible.builtin.expect:
    command: "apt-get install -yq xfce4 xfce4-goodies xrdp"
    responses:
      "Newer kernel available": "\n"
      "Which services should be restarted?": "\n"
  become: true

- name: Ensures that xfce4-session is used as a session manager upon graphical login request
  ansible.builtin.command:
    cmd: >-
      cd ~ && echo "xfce4-session" | tee .xsession
  become_user: "{{ default_username }}"
  notify: restart xrdp

- name: Allow all access to RDP
  community.general.ufw:
    rule: allow
    src: "192.168.1.0/24"
    port: "3389"
    proto: tcp
  notify: reload ufw
