---
# packages to install
packages_to_install:
    - python3-pip
    - ca-certificates
    - git
    - acl
    - screen
    - net-tools
    - ntp
    - sudo
    - ufw
    - build-essential
    - jq
    - htop
    - vim
    - nano
    - logrotate
    - wget
    - curl
    - gzip
    - zip
    - unzip
    - zsh
    - fzf
    - fontconfig
    - zoxide