---
- name: Block all incoming requests
  community.general.ufw:
    rule: deny
    direction: "in"

- name: Block all outgoing requests
  community.general.ufw:
    rule: deny
    direction: "out"

- name: Allow incoming access to tcp port {{item}}
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
    direction: "in"
  loop:
    - 80
    - 443
    - 22

- name: Allow outgoing access to tcp port {{item}}
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
    direction: "out"
  loop:
    - 80
    - 443

- name: Enable logging
  community.general.ufw:
    logging: 'on'

- name: Enable firewall
  community.general.ufw:
    state: enabled
  notify: reload ufw
