[Unit]
Description=Graylog container
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/docker compose -f /mnt/docker/graylog/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /mnt/docker/graylog/docker-compose.yml stop
SyslogIdentifier=graylog

[Install]
WantedBy=default.target