[Unit]
Description=Gotify container
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

ExecStartPre=/usr/bin/sh -c '/usr/bin/docker stop gotify 2>/dev/null || true'
ExecStartPre=/usr/bin/sh -c '/usr/bin/docker rm gotify 2>/dev/null || true'

ExecStart=/usr/bin/docker compose -f /mnt/docker/gotify/docker-compose.yml up

ExecStop=/usr/bin/sh -c '/usr/bin/docker stop gotify 2>/dev/null || true'
ExecStop=/usr/bin/sh -c '/usr/bin/docker rm gotify 2>/dev/null || true'

SyslogIdentifier=gotify

[Install]
WantedBy=multi-user.target