---
- name: Ensures that fully-qualified domain names are used in log messages
  lineinfile:
    dest: /etc/rsyslog.conf
    regexp: "^PreserveFQDN"
    line: "$PreserveFQDN on"
    state: present

- name: Add rsyslog custom rules for Docker
  ansible.builtin.copy:
    src: templates/docker.conf
    dest: /etc/rsyslog.d/docker.conf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  notify: restart rsyslog
